# Ignorar o zip do Maven e a pasta extraída
maven.zip
apache-maven-*/

# Ignorar os arquivos de build do Java/Maven
target/
*.class

# Ignorar configurações de IDEs
.idea/
.vscode/
*.iml

# Forçar o GitHub a ignorar o pom.xml no cálculo de linguagens
pom.xml linguist-documentation